<!DOCTYPE html>
<html>
<head>
    <title>个人账单系统__花费信息列表</title>
<link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/Css/HuaFeiList.css'>
<script type = 'text/javascript' src = '__ROOT__/Public/Js/check.js'></script>
</head>
    <include file = './Public/Html/header.html' />

    <div class = 'body1'>
        <div class = 'HuaFeiListTit'>
            <span>{$tit}&nbsp;&nbsp;&nbsp;&nbsp;总金额&nbsp;&nbsp;&nbsp;&nbsp;{$count}&nbsp;&nbsp;&nbsp;&nbsp;元</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href = '__CONTROLLER__/HuaFeiImage?classify={$classify}&sta={$sta}'>
                <span>查看信息图</span>
            </a>
        </div>
        <div class = 'ListTit'>
            <p>
                <a href = '__CONTROLLER__/HuaFeiList?sort=name&sta={$sta}&order={$order}'>
                    <span>花费名称</span>
                </a>
            </p>
            <p>
                <a href = '__CONTROLLER__/HuaFeiList?sort=classify&sta={$sta}&order={$order}'>
                    <span>分类</span>
                </a>
            </p>
            <p>
                <a href = '__CONTROLLER__/HuaFeiList?sort=money&sta={$sta}&order={$order}'>
                    <span>价钱</span>
                </a>
            </p>
            <p>
                <!-- <a href = '__CONTROLLER__/HuaFeiList?sort=name&sta={$sta}&order={$order}'> -->
                    <span>状态</span>
                <!-- </a> -->
            </p>
            <p>
                <a href = '__CONTROLLER__/HuaFeiList?sort=more&sta={$sta}&order={$order}'>
                    <span>备注</span>
                </a>
            </p>
            <p>
                <a href = '__CONTROLLER__/HuaFeiList?sort=time&sta={$sta}&order={$order}'>
                    <span>添加时间</span>
                </a>
            </p>
            <p>
                <a href = '__CONTROLLER__/HuaFeiList?sort=upd_time&sta={$sta}&order={$order}'>
                    <span>更新时间</span>
                </a>
            </p>
            <p id = 'handle'>
                <span>操作</span>
            </p>
        </div>
        <foreach name = 'info' item = 'v'>
        <div class = 'ListTit' style = 'background-color: #DFD7E1;'>
            <p>
                <span>{$v.name}</span>
            </p>
            <p>
                <span>
                    <if condition = "$v.names eq null">
                    未指定
                    <else />
                    {$v.names}
                    </if>
                </span>
            </p>
            <p>
                <span>{$v.money}&nbsp;元</span>
            </p>
            <p>
                <if condition = '$v.sta eq 1'>
                    <span>正常</span>
                <elseif condition = '$v.sta eq 2' />
                    <span>已取消</span>
                </if>
            </p>
            <p style = 'line-height: 30px;'>
                <span>{$v.more}</span>
            </p>
            <p style = 'line-height: 30px;'>
                <span>{$v.time|date="Y-m-d",###}</span>
                <br/>
                <span>{$v.time|date="H:i:s",###}</span>
            </p>
            <p style = 'line-height: 30px;'>
                <span>{$v.upd_time|date="Y-m-d",###}</span>
                <br/>
                <span>{$v.upd_time|date="H:i:s",###}</span>
            </p>
            <p id = 'handle'>
                <a href = 'javascript:;' onclick = 'ChangeSta({$v.id}, {$v.sta});'>
                    <span>
                        <if condition = "$v.sta eq 1">
                            <span>删除订单</span>
                        <else />
                            <span>恢复订单</span>
                        </if>
                    </span>
                </a>
                <span>&nbsp;|</span>
                <a href = 'javascript:;' onclick = 'ChangeSta("UpdClassify", {$v.id});'>
                    <span>修改分类</span>
                </a>
                <span>&nbsp;|</span>
                <a href = 'javascript:;' onclick = 'ChangeSta("AddMore", {$v.id});'>
                    <span>添加或修改备注</span>
                </a>
            </p>
        </div>
        </foreach>
        <div class = 'ListTit' style = 'border-bottom: 0px;'>
            {$page}
        </div>
    </div>  

    <include file = './Public/Html/foot.html' />    

    <div class = 'ChangeSta'>
        <form action = '__CONTROLLER__/CancelHuaFei' method = 'post' id = 'ChangeStaForm' >
            <input type = 'text' name = 'more' placeholder = '备注信息，可填可不填' class = 'more' />
            <input type = 'hidden' name = 'id' id = 'StaId' />
            <input type = 'hidden' name = 'sta' id = 'IdSta' />
            <input type = 'button' value = '关闭' class = 'GuanBi' onclick = "ChangeSta('GuanBi');" />
            <input type = 'submit' value = '确定' class = 'sure' />
        </form>
    </div>

    <div class = 'ChangeSta1'>
        <form action = '__APP__/Home/Classify/UpdClassifyOne' method = 'post' id = 'ChangeClassifyForm'>
            <select class = 'inputs' name = 'classify'>
                <foreach name = 'opt' item = 'v'>
                    <option value = '{$v.ids}'>{$v.names}</option>
                </foreach>
            </select>
            <input type = 'hidden' name = 'id' id = 'HuaFeiId' />
            <input type = 'button' value = '关闭' class = 'GuanBi' onclick = "ChangeSta('GuanBi');" />
            <input type = 'submit' value = '确定' class = 'sure' />
        </form>
    </div>