<!DOCTYPE html>
<html>
<head>
    <title>个人账单系统__填写花费信息</title>
<link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/Css/TianXieHuaFei.css'>
<script type = 'text/javascript' src = '__ROOT__/Public/Js/check.js'></script>
</head>
    <include file = './Public/Html/header.html' />

    <div class = 'body'>
        <!-- <div class = 'choice'>
            <p>
                <a href = 'javascript:;' id = 'InputOne' onclick = 'ChangeColor(this);'>
                    <span>填写单次花费</span>
                </a>
            </p>
            <p>
                <a href = 'javascript:;' id = 'InputTwo' onclick = 'ChangeColor(this);'>
                    <span>填写多次花费</span>
                </a>
            </p>
        </div> -->
        <div class = 'HuaFeiTit'>
            <span>填写花费信息</span>
        </div>
        <div class = 'HuaFeiNotice'>
            <span>单个花费格式&nbsp;&nbsp;:&nbsp;&nbsp;花费名称，<如衣服...>.&nbsp;&nbsp;加上/&nbsp;&nbsp;花费多少，<如150...>.</span>        
            <br/>
            <span>多个花费格式&nbsp;&nbsp;:&nbsp;&nbsp;花费名称，<如衣服...>.&nbsp;&nbsp;加上/&nbsp;&nbsp;花费多少，<如150...>.&nbsp;&nbsp;加上&nbsp;&nbsp;#&nbsp;&nbsp;第二个花费&nbsp;&nbsp;</span>        
        </div>
        <div class = 'form'>
            <form action = '__CONTROLLER__/DisposeHuaFeiInfo' method = 'post' onsubmit = 'return CheckForm();'>
                <select class = 'inputs' name = 'classify'>
                    <foreach name = 'opt' item = 'v'>
                        <option value = '{$v.ids}'>{$v.names}</option>
                    </foreach>
                </select>
                <input type = 'text' class = 'inputs' name = 'info' id = 'info'>
                <input type = 'submit' class = 'inputs' id = 'sub' />
            </form>
        </div>
    </div>  

    <include file = './Public/Html/foot.html' />