<!DOCTYPE html>
<html>
<head>
    <title>生成订单系统__订单列表</title>
<link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/Css/body5.css'>
<script type = 'text/javascript' src = '__ROOT__/Public/Js/check.js'></script>
</head>
    <include file = 'Public/Html/header.html' />

    <div class = 'body2'>
        <div class = 'tit'>
            <ul>
                <li id = 'ReColor0' class = 'ReColor0' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                    <span>id</span>
                </li>
                <li class = 'ReColor1' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                    <span>省</span>
                </li>
                <li class = 'ReColor2' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                    <span>市</span>
                </li>
                <li class = 'ReColor3' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                    <span>添加者</span>
                </li>
                <li class = 'ReColor4' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                    <span>添加时间</span>
                </li>
                <li id = 'handle'>
                    <span>操作</span>
                </li>
            </ul>
        </div>
        <foreach name = 'info' item = 'v'>
            <div class = 'info'>
                <ul>
                    <li id = 'ReColor0' class = 'ReColor0' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                        <span>{$v.id}</span>
                    </li>
                    <li class = 'ReColor1' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                        <span>{$v.sheng}</span>
                    </li>
                    <li class = 'ReColor2' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                        <span>{$v.shi}</span>
                    </li>
                    <li class = 'ReColor3' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                        <span>{$v.who_add}</span>
                    </li>
                    <li id = 'shijian'  class = 'ReColor4' onmouseover = 'ReColor(this, 1);' onmouseout = 'ReColor(this, 2)'>
                        <span>{$v.add_time|date = 'Y-m-d',###}</span>
                        <br/>
                        <span>{$v.add_time|date = 'H:i:s',###}</span>
                    </li>
                    <li id = 'handle'>
                        <a href = '__CONTROLLER__/Handles?act=add&g_id={$v.id}'>
                            <span>增加</span>
                        </a>
                        <a href = '__CONTROLLER__/Handles?act=del&g_id={$v.id}'>
                            <span>删除</span>
                        </a>
                        <a href = '__CONTROLLER__/Handles?act=upd&g_id={$v.id}'>
                            <span>更新</span>
                        </a>
                        <a href = ''>
                            <span>暂无</span>
                        </a>
                    </li>
                </ul>
            </div>
        </foreach>
        <div id = 'page'>
            {$page}
        </div>
    </div>  

    <include file = 'Public/Html/foot.html' />