<!DOCTYPE html>
<html>
<head>
    <title>Excel操作首页</title>
<link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/Css/reset.css'>
<link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/Css/excel.css'>
<script src = '__ROOT__/Public/Js/excel.js' type = 'text/javascript' charset = 'utf-8'></script>
</head> 
<body>
    <include file = 'Public/Html/head.html' />
    
    <!-- Excel首页操作 -->
    <div class = 'ExcelFather' id = 'ExcelFather'>
        <div class = 'ExcelMother'>
            <div class = 'ExcelHandle'>
                <a href = 'javascript:void(0);' onclick = 'ChangeDisplay("ExcelTemp");' title = 'Excel模版操作'>
                    <span>Excel模版</span>
                </a>
            </div>
            <div class = 'ExcelHandle'>
                <a href = 'javascript:void(0);' onclick = 'ChangeDisplay("LeadInExcel");' title = '导入Excel数据'>
                    <span>导入数据</span>
                </a>
            </div>
            <div class = 'ExcelHandle'>
                <a href = '__CONTROLLER__/ScreenData?act=screen' title = '筛选数据'>
                    <span>筛选数据</span>
                </a>
            </div>
        </div>
    </div>
    
    <!-- Excel模版界面 -->
    <div class = 'ExcelFather' id = 'ExcelTemp'>
        <div class = 'ExcelTempHome'>
            <span class = 'ExcelTempHomeSpan'>用户</span>
            <div>
                <a href = '__CONTROLLER__/ShowTemp?temp=user' title = '用户当前模版'>
                    <span>当前模版</span>
                </a>
            </div>
            <div>
                <a href = 'javascript:void(0);' onclick = 'ChangeDisplay("FileUpUserTemp");' title = 'Excel导入用户模版'>
                    <span>Excel导入模版</span>
                </a>
            </div>
            <div>
                <a href = 'javascript:void(0);' onclick = 'ChangeDisplay("HandAddUserTemp");' title = '手动添加&nbsp;&nbsp;用户&nbsp;&nbsp;模版'>
                    <span>手动添加模版</span>
                </a>
            </div>
        </div>
        <div class = 'ExcelTempHome' style = 'margin-top: 10px;'>
            <span class = 'ExcelTempHomeSpan'>快递</span>
            <div>
                <a href = '__CONTROLLER__/ShowTemp?temp=express' title = '快递当前模版'>
                    <span>当前模版</span>
                </a>
            </div>
            <div>
                <a href = 'javascript:void(0);' onclick = 'ChangeDisplay("FileUpExpressTemp");' title = 'Excel导入快递模版'>
                    <span>Excel导入模版</span>
                </a>
            </div>
            <div>
                <a href = 'javascript:void(0);' onclick = 'ChangeDisplay("HandAddExpressTemp");' title = '手动添加&nbsp;&nbsp;快递&nbsp;&nbsp;Excel模版'>
                    <span>手动添加模版</span>
                </a>
            </div>
        </div>
    </div>

    <!-- 手动添加Excel模版 -->
    <div class = 'ExcelFather' id = 'HandAddUserTemp'>
        <div class = 'tit'>
            <span>手动添加&nbsp;&nbsp;用户&nbsp;&nbsp;Excel模版</span>
        </div>
        <div class = 'HandAdd'>
            <div id = 'HandAddButton'>
                <button type = 'button' class = 'HandAddButton' onclick = 'AddHandInput("HandAddInpit1");'>添加</button>
            </div>
            <div class = 'HandAddForm'>
                <form action = '__CONTROLLER__/DoHandAdd?temp=myself' method = 'post'>
                    <div id = 'HandAddInpit1'></div>
                    <input type = 'submit' value = '提交' id = 'sub' />
                </form>
            </div>
        </div>
    </div>
    <div class = 'ExcelFather' id = 'HandAddExpressTemp'>
        <div class = 'tit'>
            <span>手动添加&nbsp;&nbsp;快递&nbsp;&nbsp;Excel模版</span>
        </div>
        <div class = 'HandAdd'>
            <div id = 'HandAddButton'>
                <button type = 'button' class = 'HandAddButton' onclick = 'AddHandInput("HandAddInpit2");'>添加</button>
            </div>
            <div class = 'HandAddForm'>
                <form action = '__CONTROLLER__/DoHandAdd?temp=express' method = 'post'>
                    <div id = 'HandAddInpit2'></div>
                    <input type = 'submit' value = '提交' id = 'sub' />
                </form>
            </div>
        </div>
    </div>

    <!-- Excel上传文件模版 -->
    <div class = 'ExcelFather' id = 'FileUpUserTemp'>
        <div class = 'tit'>
            <span>Excel文件添加&nbsp;&nbsp;用户&nbsp;&nbsp;Excel模版</span>
        </div>
        <form action = '__CONTROLLER__/DoExcelAdd?temp=myself' method = 'post' enctype = 'multipart/form-data' id = 'FileUpTempAct' onsubmit = 'return CheckFileType("1", "file1");'>
            <div class = 'FileUpTempDiv'>
                <input type = 'file' name = 'file1' onchange = "CheckFileType('2', this)"/>
            </div>
            <div class = 'FileUpTempDiv'>
                <input type = 'submit' value = '确认上传' id = 'FileUpTempSub'/>
            </div>
        </form>
    </div>
    <div class = 'ExcelFather' id = 'FileUpExpressTemp'>
        <div class = 'tit'>
            <span>Excel文件添加&nbsp;&nbsp;快递&nbsp;&nbsp;Excel模版</span>
        </div>
        <form action = '__CONTROLLER__/DoExcelAdd?temp=express' method = 'post' enctype = 'multipart/form-data' id = 'FileUpTempAct' onsubmit = 'return CheckFileType("1", "file2");'>
            <div class = 'FileUpTempDiv'>
                <input type = 'file' name = 'file2' onchange = "CheckFileType('2', this)"/>
            </div>
            <div class = 'FileUpTempDiv'>
                <input type = 'submit' value = '确认上传' id = 'FileUpTempSub'/>
            </div>
        </form>
    </div>
    
    <!-- 导入数据模版 -->
    <div class = 'ExcelFather' id = 'LeadInExcel'>
        <span onclick = 'ChangeDisplay("FileUpUserData");'>导入用户数据</span>
        <span onclick = 'ChangeDisplay("FileUpExpressData");'>导入快递数据</span>
    </div>

    <div class = 'ExcelFather' id = 'FileUpUserData'>
        <div class = 'tit'>
            <span>添加&nbsp;&nbsp;用户&nbsp;&nbsp;Excel数据</span>
        </div>
        <form action = '__CONTROLLER__/DoExcelAdd?temp=MyData' method = 'post' enctype = 'multipart/form-data' id = 'FileUpTempAct' onsubmit = 'return CheckFileType("1", "file3");'>
            <div class = 'FileUpTempDiv'>
                <input type = 'file' name = 'file3' onchange = "CheckFileType('2', this)"/>
            </div>
            <div class = 'FileUpTempDiv'>
                <input type = 'submit' value = '确认上传' id = 'FileUpTempSub'/>
            </div>
        </form>
    </div>
    <div class = 'ExcelFather' id = 'FileUpExpressData'>
        <div class = 'tit'>
            <span>添加&nbsp;&nbsp;快递&nbsp;&nbsp;Excel数据</span>
        </div>
        <form action = '__CONTROLLER__/DoExcelAdd?temp=ExData' method = 'post' enctype = 'multipart/form-data' id = 'FileUpTempAct' onsubmit = 'return CheckFileType("1", "file4");'>
            <div class = 'FileUpTempDiv'>
                <input type = 'file' name = 'file4' onchange = "CheckFileType('2', this)"/>
            </div>
            <div class = 'FileUpTempDiv'>
                <input type = 'submit' value = '确认上传' id = 'FileUpTempSub'/>
            </div>
        </form>
    </div>
    
    <include file = 'Public/Html/foot.html' />
</body>
</html>