<!DOCTYPE html>
<html>
<head>
    <title>Excel操作首页</title>
<link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/Css/reset.css'>
<link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/Css/ScreenSet.css'>
<script src = '__ROOT__/Public/Js/excel.js' type = 'text/javascript' charset = 'utf-8'></script>
</head> 
<body>
    <include file = 'Public/Html/head.html' />

    <div class = 'ExcelFather' id = 'ScreenData'>
        <div class = 'tit'>
            <span>{$sta}&nbsp;&nbsp;筛选数据&nbsp;&nbsp;配置</span>
        </div>
        <div class = 'ScreenDataInfo'>
            <form action = '__CONTROLLER__/DoScreenData?act=adds' method = 'post'>

                <div class = 'ScreenDataHandle'>
                    <div class = 'ScreenDataHandleNotice'>
                        <span>筛选<strong style = 'color: #FF7256;'>用户</strong>缺失数据</span>
                    </div>
                    <div class = 'ScreenDataHandleReason'>
                        <span>根据</span>
                    </div>
                    <div class = 'ScreenDataHandleUser'>
                        <span><strong style = 'color: red;'>快递</strong>表中</span>
                    </div>
                    <div class = 'ScreenDataHandleField'>
                        <select name = "shenshuang1[Express]">
                            <option value = 'shenshuang' selected = ''><span>选择该项则表示此项为空</span></option>
                            <foreach name = 'data.ExpressTemp' item = 'v'>
                                <option value = '{$v.line}'><span>{$v.l_val}</span></option>
                            </foreach>
                        </select>
                    </div>
                    <div class = 'ScreenDataHandleUser'>
                        <span><strong style = 'color: #FF7256;'>用户</strong>表中</span>
                    </div>
                    <div class = 'ScreenDataHandleField'>
                        <select name = "shenshuang1[User]">
                            <option value = 'shenshuang' selected = ''><span>选择该项则表示此项为空</span></option>
                            <foreach name = 'data.UserTemp' item = 'v'>
                                <option value = '{$v.line}'><span>{$v.l_val}</span></option>
                            </foreach>
                        </select>
                    </div>
                    <div class = 'ScreenDataHandleScreen'>
                        <span>筛选</span>
                    </div>
                    <div class = 'ScreenDataHandleCustom'>
                        <span><strong style = 'color: red;'>自定义</strong>名称</span>
                    </div>
                    <div class = 'ScreenDataHandleName'>
                        <input type = 'text' name = "shenshuang1[name]" placeholder = '请输入自定义名称，尽量短' />
                        <input type = 'hidden' name = 'shenshuang1[act]' value = '1' />
                    </div>
                </div>

                <div class = 'ScreenDataHandle'>
                    <div class = 'ScreenDataHandleNotice'>
                        <span>筛选<strong style = 'color: red;'>快递</strong>缺失数据</span>
                    </div>
                    <div class = 'ScreenDataHandleReason'>
                        <span>根据</span>
                    </div>
                    <div class = 'ScreenDataHandleUser'>
                        <span><strong style = 'color: #FF7256;'>用户</strong>表中</span>
                    </div>
                    <div class = 'ScreenDataHandleField'>
                        <select name = "shenshuang2[User]">
                            <option value = 'shenshuang' selected = ''><span>选择该项则表示此项为空</span></option>
                            <foreach name = 'data.UserTemp' item = 'v'>
                                <option value = '{$v.line}'><span>{$v.l_val}</span></option>
                            </foreach>
                        </select>
                    </div>
                    <div class = 'ScreenDataHandleUser'>
                        <span><strong style = 'color: red;'>快递</strong>表中</span>
                    </div>
                    <div class = 'ScreenDataHandleField'>
                        <select name = "shenshuang2[Express]">
                            <option value = 'shenshuang' selected = ''><span>选择该项则表示此项为空</span></option>
                            <foreach name = 'data.ExpressTemp' item = 'v'>
                                <option value = '{$v.line}'><span>{$v.l_val}</span></option>
                            </foreach>
                        </select>
                    </div>
                    <div class = 'ScreenDataHandleScreen'>
                        <span>筛选</span>
                    </div>
                    <div class = 'ScreenDataHandleCustom'>
                        <span><strong style = 'color: red;'>自定义</strong>名称</span>
                    </div>
                    <div class = 'ScreenDataHandleName'>
                        <input type = 'text' name = "shenshuang2[name]" placeholder = '请输入自定义名称，尽量短' />
                        <input type = 'hidden' name = 'shenshuang2[act]' value = '2' />
                    </div>
                </div>

                <div class = 'ScreenDataHandle'>
                    <div class = 'ScreenDataHandleNotice'>
                        <span>导出问题件</span>
                    </div>
                    <div class = 'ScreenDataHandleReason'>
                        <span>当</span>
                    </div>
                    <div class = 'ScreenDataHandleUser'>
                        <span><strong style = 'color: red;'>快递</strong>表中</span>
                    </div>
                    <div class = 'ScreenDataHandleField'>
                        <select name = "shenshuang3[Express]">
                            <option value = 'shenshuang' selected = ''><span>选择该项则表示此项为空</span></option>
                            <foreach name = 'data.ExpressTemp' item = 'v'>
                                <option value = '{$v.line}'>{$v.l_val}</option>
                            </foreach>
                        </select>
                    </div>
                    <div class = 'ScreenDataHandleUser'>
                        <span>的值为</span>
                    </div>
                    <div class = 'ScreenDataHandleField'>
                        <input type = 'text' name = 'shenshuang3[User]' placeholder = '空的话使用空字表示，多个使用,隔开' />
                    </div>
                    <div class = 'ScreenDataHandleScreen'>
                        <span>为问题件</span>
                    </div>
                    <div class = 'ScreenDataHandleCustom'>
                        <span><strong style = 'color: red;'>自定义</strong>名称</span>
                    </div>
                    <div class = 'ScreenDataHandleName'>
                        <input type = 'text' name = "shenshuang3[name]" placeholder = '请输入自定义名称，尽量短' />
                        <input type = 'hidden' name = 'shenshuang3[act]' value = '3' />
                    </div>
                </div>

                <div class = 'ScreenDataHandle'>
                    <div class = 'ScreenDataHandleNotice'>
                        <span>更新用户表订单状态</span>
                    </div>
                    <div class = 'ScreenDataHandleReason'>
                        <span>根据</span>
                    </div>
                    <div class = 'ScreenDataHandleUser'>
                        <span><strong style = 'color: red;'>快递</strong>表中</span>
                    </div>
                    <div class = 'ScreenDataHandleField'>
                        <select name = "shenshuang4[Express]">
                            <option value = 'shenshuang' selected = ''><span>选择该项则表示此项为空</span></option>
                            <foreach name = 'data.ExpressTemp' item = 'v'>
                                <option value = '{$v.line}'><span>{$v.l_val}</span></option>
                            </foreach>
                        </select>
                    </div>
                    <div class = 'ScreenDataHandleUser'>
                    </div>
                    <div class = 'ScreenDataHandleField'>
                    </div>
                    <div class = 'ScreenDataHandleScreen'>
                        <span>更新</span>
                    </div>
                    <div class = 'ScreenDataHandleCustom'>
                        <span><strong style = 'color: red;'>自定义</strong>名称</span>
                    </div>
                    <div class = 'ScreenDataHandleName'>
                        <input type = 'text' name = "shenshuang4[name]" placeholder = '请输入自定义名称，尽量短' />
                        <input type = 'hidden' name = 'shenshuang4[act]' value = '4' />
                    </div>
                </div>
                <input type = 'submit' value = '确认提交' class = 'sub'/>
            </form>
        </div>
    </div>

    <include file = 'Public/Html/foot.html' />
</body>
</html>