/*初始化css文件*/
html{
    overflow-y: scroll;
} 
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix{ 
    *zoom: 1; 
}
body{
    background: #EAE3E3;
    color: #1A1515;
    font-size: 14px; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    text-align: center;
    width: 100%;
    height: 100%;
    min-width: 1100px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{ 
    margin: 0; 
    padding: 0; 
}
input, textarea, button{ 
    font: 14px Verdana,Helvetica,Arial,sans-serif; 
    text-indent: 10px;
}
select{ 
    font: 14px Verdana,Helvetica,Arial,sans-serif; 
    text-indent: 2px;
}
table { border-collapse:collapse; }

td, th, caption{ 
    font-size: 14px; 
}
h1, h2, h3, h4, h5, h6 { 
    font-weight: normal; 
    font-size: 100%; 
}
address, caption, cite, code, dfn, em, strong, th, var { 
    font-style: normal; 
    font-weight: normal;
}
div{
    margin: 0 auto;
}
img{ 
    border: none; 
}
ol, ul, li{ 
    list-style: none; 
    overflow: hidden;
}
a{ 
    display: block;
    width: 100%;
    height: 100%;
    color: #1A1515; 
    text-decoration: none; 
}
a:hover{ 
    color: white;
    text-decoration: underline; 
}
span:hover{ 
    color: white;
}