.left{
    width: 320px;
    border: 1px solid black;
}

.tit{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #CBCBCB;
    border-bottom: 1px solid black;
    font-size: 25px;
}

.TitName{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #DDDDDD;
    border-bottom: 1px solid black;
}

.TitName li{
    float: left;
    border-right: 1px solid #C7C7C7;
}

.id{
    width: 80px;
}

.tel{
    width: 150px; 
}

#upd{
    width: 87px;
    border-right: 0px;
    color: red;
}

.info{
    width: 100%; 
    height: 60px;
    line-height: 60px;
    background: #D1D1D1;
    border-bottom: 1px solid #808080;
}

.info:hover{
    background: #EBCDDB;
}

.info li{
    float: left;
    border-right: 1px solid #C5C5C5;
}

.info li:hover{
    background-color: #88D1D8;
}

.page{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #BEBDBD;
}

.none{
    clear: both;
    width: 100%;
    height: 50px;
}


