/*
 * 标题：阿狸子订单系统
 * 作者：justo2008（旺旺号）
 * 官方网址：www.alizi.net
 * 淘宝店铺：https://hiweb.taobao.com/
 * 警示信息：您可以复制使用本站静态文件（html/css/js/images），但请保留原创作者（旺旺：justo2008）信息，谢谢。
 */
*{margin:0;padding:0;}
html{height:100%;}
body{margin:0;padding:0;height:100%;font:14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", serif;background:#fff;}
h1{font-size:20px}
h2{font-size:16px}
a{color:#EB5F3E;text-decoration:none}
a:hover{text-decoration:underline}
.header{padding-top:25px;padding-bottom: 10px;margin-bottom: 14px;border-bottom: 1px solid #e7e7eb;color:#333;font-size:22px;}

.read-tool {padding:10px 0;font-size:16px;}
.read-tool .read{margin-right:25px;}
.read-tool .report{float:right;color:#607fa6;}
.alizi-footer{padding:20px 0 50px 0;text-align:center;border-top: 1px solid #e5e5e5;color:#666;}
.alizi-footer p{padding:0 0 20px 0;font-size:12px;}

.scroll{width:100%;z-index:999999;background: #fff;color:#333;font-size:16px;margin:0;padding:5px 0;overflow:hidden;opacity:.8;text-align:left;}
.scroll .site-flex{height:35px;width:100%;overflow: hidden;position: relative;background: url(laba.jpg) left top no-repeat;background-size: 50px;margin: 0;max-width: 600px;}
.scroll ul{position: absolute;padding-left:60px}
.scroll li{margin-bottom: 5px;font-size:12px;}

#aliziComments{padding:10px 0;}
#aliziComments .title{padding:5px 10px;border-bottom:2px solid #ccc;}