<!DOCTYPE html>
<html>
<head>
    <title>修改用户信息状态</title>
    <link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/HomeCss/reset.css'>
    <link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/HomeCss/one.css'>
    <include file  = 'Public/Html/tit.html' />
</head>
<body>

<center>
    
    <div class = 'father'>

        <div class = 'infos'>

            <iframe src = "{:U('ShenShow/ShenRefresh')}" frameborder = 'no' scrolling = 'no' style = 'width: 350px; height: 900px;' ></iframe>

        </div>

        <div class = 'DoInfo'>
            
            <iframe src = "{:U('ShenShow/ShenDo')}" frameborder = 'no' scrolling = 'no' style = 'width: 1700px; height: 900px;' ></iframe>

        </div>

    </div>

</center>

</body>

<include file  = 'Public/Html/foot.html' />
